cython==0.29.30 # required by thriftpy2 setup
dataclasses-json==0.5.2 # fbpcp requires this version, so we must as well
docopt>=0.6.2
fbpcp>=0.2.2
networkx>=2.6.3
requests>=2.26.0
schema==0.7.0 # fbpcp requires this version, so we must as well
termcolor==1.1.0
thriftpy2==0.4.14
pytz>=2022.1
thrift>=0.16.0 # logging_service client requires this
tqdm==4.64.0
